/*
Web browser has some default styles for HMTL: padding, margins, color
*/

/*REMOVE all the default styles and we will define our own styles*/
* {
    padding: 0;
    margin: 0;
}

header {
    background-color: lightskyblue;
    height: 20vh;/*vh=viewport height*/
    background-image: linear-gradient(red, yellow, blue, red);
    /*Set background color as an image*/
    background-image: url("../Images/animated.gif");
    background-size: 100% 100%;

    /*Centralize the content vertically and horizontally*/
    display: flex;
    justify-content: center;
    align-items: center;

}

/*Change the h1 color to red and centralize it vertically and horizontally*/
header h1 {
    color: red; 
    text-align: center;   
}

img {
    
    }



main {
    /*background-color: yellow;*/
    background-image: url('../Images/header-bg.jpg');
    min-height: 70vh;/*vh=viewport height*/

    display:flex;
    justify-content: center;
    align-items: center;

}

main section{
    text-align:center;
    border: solid 2px rgb(73, 87, 87);
}

main section img, h1, p{
    padding: 10px
}
main section button{
    margin-bottom: 10px;
    padding: 5px;
}
main section img{
    border-radius: 50%;
}

.gradient-bg {
    background-color: rgba(255,255,255,0.5);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
}




footer {
    background-color: lightskyblue;
    min-height: 15vh;/*vh=viewport height*/
    display: flex; 
    justify-content:center; 
    align-items: center;
}

footer p {
    text-align: center;
    padding: 1px;
    margin: 0px;
}


/* define selector. */
.centeralize {
    display: flex; 
    justify-content:center; 
    align-items: center;
}